* {
	box-sizing: border-box;
}

body{ 
	background: rgba(102, 85, 85, 0.5);
	background-image: radial-gradient(rgba(210, 180, 140, 0.5) 30%, transparent 0), 
                  radial-gradient(rgba(210, 180, 140, 0.5) 10%, transparent 0), 
                  radial-gradient(rgba(0, 0, 0, 0.5) 5%, transparent 0);
	background-size: 100px 100px;
	background-position: 0 0, 50px 50px, 0px 50px;
}

.navbar {
	overflow: hidden;
	text-align: center;
	margin-left: 35%;
	margin-top: 50px;
}

.navbar a {
	float: left;
	font-size: 30px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 30px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
	background-color: white;
	color: black;
	border-radius: 30%;
}

.subnavContent {
	display: none;
	position: absolute;
	margin-left: 15%;
	left: 0;
	width: 100%;
	z-index: 1;
}

.subnavContent a {
	float: left;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.subnavContent a:hover {
	background-color: tan;
	color: black;
}

.subnav:hover .subnavContent {
	display: block;
}

#logo {
	position: absolute;
	left: 10%;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	text-align: center;
	margin-top: 10em;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 11em;
	border-radius: 3px 0 0 3px;
}

.prev {
	left: 11em;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: tan;
}

.text {
	color: #655;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 40px;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px tan, -1px -1px tan, 
				 1px -1px tan, -1px 1px tan;
}

.numbertext {
	color: rgba(0, 0, 0, 0);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

img {
	border-radius: 20%;
}

#wrapper {
		min-width: 1200px;
	max-width: 1400px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#descriptions {
	width: 90%;
	height: 100em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
}

#wristDesImage {
	border-radius: 100%;
	float: left;
	position: relative;
	margin-left: 2em;
	margin-top: 1em;
}

#toteDesImage {
	border-radius: 100%;
	float: right;
	margin-right: 0;
	position: relative;
	right: -29em;
	top: 1em;
}

#purseDesImage {
	border-radius: 100%;
	float: left;
	margin-right: 0;
	position: relative;
	top: -36.5em;
	left: 2em;
}

#makeupDesImage {
	border-radius: 100%;
	float: right;
	margin-right: 0;
	position: relative;
	top: -32em;
	right: -29em;
}

#cardholderDesImage {
	border-radius: 100%;
	float: left;
	margin-right: 0;
	position: relative;
	top: -64.5em;
	left: 2em;
}

#backgroundWrist {
	width:500px;
	height:600px;
	border-radius: 100%;
	background-color: tan;
	position: absolute;
}

#backgroundTote {
	width:500px;
	height:600px;
	border-radius: 100%;
	background-color: tan;
	float: right;
	position: relative;
}

#backgroundPurse {
	width:500px;
	height:600px;
	border-radius: 100%;
	background-color: tan;
	float: left;
	position: relative;
	left: -30em;
}

#backgroundMakeup {
	width:500px;
	height:600px;
	border-radius: 100%;
	background-color: tan;
	float: right;
	position: relative;
	left: 0em;
	top: -27em;
}

#backgroundCardholder {
	width:500px;
	height:600px;
	border-radius: 100%;
	background-color: tan;
	float: left;
	position: relative;
	left: -30em;
	top: -28em;
}

#wrist {
	width: 70em;
	height: 40em;
}

#toteDes {
	margin-top: 2em;
	width: 70em;
	height: 40em;
}

#purseDes {
	margin-top: 2em;
	width: 70em;
	height: 40em;
}

#makeupDes {
	margin-top: 2em;
	width: 70em;
	height: 40em;
}

#cardholderDes {
	margin-top: 2em;
	width: 70em;
	height: 40em;
	background-color: pink;
}

#wristDesc {
	float: right;
	text-align: center;
	background-color: green;
	width: 30em;
	height: 30em;
	right: 14em;
	margin-right: 0;
	margin-top: 5em;
}

#toteDesc {
	float: left;
	text-align: center;
	background-color: purple;
	width: 30em;
	height: 30em;
	margin-top: 2em;
	margin-left: 0;
	right: 0;
	top: -34em;
	position: relative;
}

#purseDesc {
	float: right;
	text-align: center;
	background-color: purple;
	width: 30em;
	height: 30em;
	margin-top: 2em;
	margin-left: 0;
	right: 0;
	top: -34em;
	position: relative;	
}

#makeupDesc {
	float: left;
	text-align: center;
	background-color: red;
	width: 30em;
	height: 30em;
	margin-top: 2em;
	margin-left: 0;
	right: 0;
	top: -67em;
	position: relative;	
}

#cardholderDesc {
	float: right;
	text-align: center;
	background-color: purple;
	width: 30em;
	height: 30em;
	margin-top: 2em;
	margin-left: 0;
	right: 0;
	top: -63em;
	position: relative;	
}

